In [1]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
import scipy.stats as stat
import datetime as dt
import seaborn as sb
%matplotlib inline
from sklearn.linear_model import LinearRegression as lm

In [2]:
file1 = pd.read_csv('Transactions.csv')
file2 = pd.read_csv('NewCustomerList.csv')
file3 = pd.read_csv('CustomerDemographic.csv')
file4 = pd.read_csv('CustomerAddress.csv')

In [3]:
NewFile = pd.merge(file3, file4, on=['customer_id'])
NewFile1 = pd.merge(NewFile, file1, on=['customer_id'])

In [4]:
NewFile1.to_csv("KPMG_Final.csv", index=False, encoding='utf-8-sig')

In [5]:
data = NewFile1.sort_values(by=['customer_id'])

In [6]:
data

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,dob,job_title,job_industry_category,wealth_segment,deceased_indicator,...,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-01-05,0.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,1970-01-01
10,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-12-23,0.0,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,1970-01-01
8,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-12-09,1.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,1970-01-01
7,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-06-04,1.0,Approved,Giant Bicycles,Standard,medium,medium,642.70,211.37,1970-01-01
6,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,2017-05-19,0.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,1970-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19964,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,2017-02-16,0.0,Approved,WeareA2B,Standard,medium,medium,1228.07,400.91,1970-01-01
19966,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,2017-04-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,1970-01-01
19962,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,2017-01-09,1.0,Approved,Giant Bicycles,Road,medium,medium,792.90,594.68,1970-01-01
19963,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,2017-01-11,0.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,1970-01-01
19967,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,2017-08-08,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,1970-01-01

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19968 entries, 0 to 19967
Data columns (total 29 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          19968 non-null  int64
 1   first_name                           19968 non-null  object
 2   last_name                            19968 non-null  object
 3   gender                               19968 non-null  object
 4   past_3_years_bike_related_purchases  19968 non-null  int64
 5   dob                                  19522 non-null  object
 6   job_title                            19968 non-null  object
 7   job_industry_category                19968 non-null  object
 8   wealth_segment                       19968 non-null  object
 9   deceased_indicator                   19968 non-null  bool
 10  owns_car                             19968 non-null  bool
 11  tenure                               19968 non-null  float64
 12  address                              19968 non-null  object
 13  postcode                             19968 non-null  int64
 14  state                                19968 non-null  object
 15  country                              19968 non-null  object
 16  property_valuation                   19968 non-null  int64
 17  transaction_id                       19968 non-null  int64
 18  product_id                           19968 non-null  int64
 19  transaction_date                     19968 non-null  object
 20  online_order                         19968 non-null  float64
 21  order_status                         19968 non-null  object
 22  brand                                19968 non-null  object
 23  product_line                         19968 non-null  object
 24  product_class                        19968 non-null  object
 25  product_size                         19968 non-null  object
 26  list_price                           19968 non-null  float64
 27  standard_cost                        19794 non-null  float64
 28  product_first_sold_date              19773 non-null  object
dtypes: bool(2), float64(4), int64(6), object(17)
memory usage: 4.3+ MB

In [8]:
data.describe()

,customer_id,past_3_years_bike_related_purchases,tenure,postcode,property_valuation,transaction_id,product_id,online_order,list_price,standard_cost
count,19968.000000,19968.000000,19968.000000,19968.000000,19968.000000,19968.000000,19968.000000,19968.000000,19968.000000,19794.000000
mean,1740.254307,48.757412,10.689052,2987.623347,7.516376,9997.846504,45.365986,0.501102,1107.780004,556.082756
std,1009.819066,28.611359,5.611093,851.306647,2.824783,5773.929973,30.750115,0.500011,582.852548,405.798188
min,1.000000,0.000000,1.000000,2000.000000,1.000000,1.000000,0.000000,0.000000,12.010000,7.210000
25%,861.750000,24.000000,6.000000,2200.000000,6.000000,4997.750000,18.000000,0.000000,575.270000,215.140000
50%,1739.500000,48.000000,11.000000,2767.000000,8.000000,9996.500000,44.000000,1.000000,1163.890000,507.580000
75%,2614.250000,73.000000,15.000000,3754.000000,10.000000,14996.250000,72.000000,1.000000,1635.300000,795.100000
max,3500.000000,99.000000,22.000000,4883.000000,12.000000,20000.000000,100.000000,1.000000,2091.470000,1759.850000

In [9]:
data.duplicated().sum()

0

In [10]:
data.nunique()

customer_id                             3489
first_name                              2835
last_name                               3268
gender                                     3
past_3_years_bike_related_purchases      100
dob                                     3047
job_title                                195
job_industry_category                      9
wealth_segment                             3
deceased_indicator                         2
owns_car                                   2
tenure                                    22
address                                 3487
postcode                                 835
state                                      3
country                                    1
property_valuation                        12
transaction_id                         19968
product_id                               101
transaction_date                         364
online_order                               2
order_status                               2
brand                                      6
product_line                               4
product_class                              3
product_size                               3
list_price                               294
standard_cost                            121
product_first_sold_date                    1
dtype: int64

In [11]:
data.isnull().sum()

customer_id                              0
first_name                               0
last_name                                0
gender                                   0
past_3_years_bike_related_purchases      0
dob                                    446
job_title                                0
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
transaction_id                           0
product_id                               0
transaction_date                         0
online_order                             0
order_status                             0
brand                                    0
product_line                             0
product_class                            0
product_size                             0
list_price                               0
standard_cost                          174
product_first_sold_date                195
dtype: int64

In [12]:
data.standard_cost.mode()

0    388.92
Name: standard_cost, dtype: float64

In [13]:
data.standard_cost.mean()

556.0827558856358

In [14]:
data.standard_cost.median()

507.58

In [15]:
data['standard_cost'].fillna(data['standard_cost'].mean(), inplace=True)

In [16]:
data.isnull().sum()

customer_id                              0
first_name                               0
last_name                                0
gender                                   0
past_3_years_bike_related_purchases      0
dob                                    446
job_title                                0
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
transaction_id                           0
product_id                               0
transaction_date                         0
online_order                             0
order_status                             0
brand                                    0
product_line                             0
product_class                            0
product_size                             0
list_price                               0
standard_cost                            0
product_first_sold_date                195
dtype: int64

In [17]:
data['product_first_sold_date'].fillna(method='ffill', inplace=True)

In [18]:
data['dob'] = data['dob'].apply(pd.to_datetime)

In [19]:
data.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
dob                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                               bool
owns_car                                         bool
tenure                                        float64
address                                        object
postcode                                        int64
state                                          object
country                                        object
property_valuation                              int64
transaction_id                                  int64
product_id                                      int64
transaction_date                               object
online_order                                  float64
order_status                                   object
brand                                          object
product_line                                   object
product_class                                  object
product_size                                   object
list_price                                    float64
standard_cost                                 float64
product_first_sold_date                        object
dtype: object

In [20]:
data.isnull().sum()

customer_id                              0
first_name                               0
last_name                                0
gender                                   0
past_3_years_bike_related_purchases      0
dob                                    446
job_title                                0
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
transaction_id                           0
product_id                               0
transaction_date                         0
online_order                             0
order_status                             0
brand                                    0
product_line                             0
product_class                            0
product_size                             0
list_price                               0
standard_cost                            0
product_first_sold_date                  0
dtype: int64

In [21]:
data['dob'].fillna(method='ffill', inplace=True)

In [22]:
date = dt.datetime.now()
data['Age'] = data['dob'].apply(lambda x: len(pd.date_range(start = x, end = date, freq='Y')))

In [23]:
data = data[data.Age<100]

In [24]:
data['transaction_month'] = pd.DatetimeIndex(data['dob']).month

C:\Users\tiwar\AppData\Local\Temp\ipykernel_8076\1446554576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['transaction_month'] = pd.DatetimeIndex(data['dob']).month

In [25]:
data['profit'] = data['list_price'] - data['standard_cost']

C:\Users\tiwar\AppData\Local\Temp\ipykernel_8076\332391185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['profit'] = data['list_price'] - data['standard_cost']

In [26]:
data

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,dob,job_title,job_industry_category,wealth_segment,deceased_indicator,...,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,Age,transaction_month,profit
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,Norco Bicycles,Standard,medium,medium,360.40,270.30,1970-01-01,69,10,90.10
10,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,OHM Cycles,Standard,medium,medium,235.63,125.07,1970-01-01,69,10,110.56
8,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,OHM Cycles,Road,medium,medium,742.54,667.40,1970-01-01,69,10,75.14
7,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,Giant Bicycles,Standard,medium,medium,642.70,211.37,1970-01-01,69,10,431.33
6,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,False,...,Giant Bicycles,Road,medium,medium,1538.99,829.65,1970-01-01,69,10,709.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19964,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,WeareA2B,Standard,medium,medium,1228.07,400.91,1970-01-01,55,7,827.16
19966,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,Solex,Standard,medium,medium,71.49,53.62,1970-01-01,55,7,17.87
19962,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,Giant Bicycles,Road,medium,medium,792.90,594.68,1970-01-01,55,7,198.22
19963,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,WeareA2B,Standard,medium,medium,60.34,45.26,1970-01-01,55,7,15.08
19967,3500,Josy,Fleeman,Female,71,1967-07-21,Administrative Assistant IV,Entertainment,Affluent Customer,False,...,Giant Bicycles,Standard,medium,small,1311.44,1167.18,1970-01-01,55,7,144.26

In [27]:
data1 = file2

In [28]:
data1

,first_name,last_name,gender,past_3_years_bike_related_purchases,dob,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,rank,value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.719
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.719
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.719
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,9,2 Sloan Way,2200,NSW,Australia,7,996,0.374
996,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,6,04 Union Crossing,2196,NSW,Australia,10,997,0.357
997,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,15,33475 Fair Oaks Junction,4702,QLD,Australia,2,997,0.357
998,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,19,57666 Victoria Way,4215,QLD,Australia,2,997,0.357
999,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,14,21875 Grover Drive,2010,NSW,Australia,9,1000,0.340

In [29]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            1000 non-null   object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   dob                                  983 non-null    object
 5   job_title                            1000 non-null   object
 6   job_industry_category                1000 non-null   object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  rank                                 1000 non-null   int64
 17  value                                1000 non-null   float64
dtypes: float64(1), int64(5), object(12)
memory usage: 140.8+ KB

In [30]:
data1.describe()

,past_3_years_bike_related_purchases,tenure,postcode,property_valuation,rank,value
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,49.836000,11.388000,3019.227000,7.397000,498.819000,0.881722
std,27.796686,5.037145,848.895767,2.758804,288.810997,0.293550
min,0.000000,0.000000,2000.000000,1.000000,1.000000,0.340000
25%,26.750000,7.000000,2209.000000,6.000000,250.000000,0.649500
50%,51.000000,11.000000,2800.000000,8.000000,500.000000,0.860000
75%,72.000000,15.000000,3845.500000,9.000000,750.250000,1.075000
max,99.000000,22.000000,4879.000000,12.000000,1000.000000,1.719000

In [31]:
data1.isnull().sum()

first_name                              0
last_name                               0
gender                                  0
past_3_years_bike_related_purchases     0
dob                                    17
job_title                               0
job_industry_category                   0
wealth_segment                          0
deceased_indicator                      0
owns_car                                0
tenure                                  0
address                                 0
postcode                                0
state                                   0
country                                 0
property_valuation                      0
rank                                    0
value                                   0
dtype: int64

In [32]:
data1['customer_id'] = data1.index

In [33]:
data1['dob'] = pd.to_datetime(data1['dob'], errors='coerce')

In [34]:
data1['dob'] = data1['dob'].apply(lambda x: x.strftime('%Y-%m-%d')if not pd.isnull(x) else '')

In [35]:
data1['dob'] = data1['dob'].fillna(data1['dob'].mode())

In [36]:
date1 = dt.datetime.now()
data1['Age'] = data1['dob'].apply(lambda x: len(pd.date_range(start = x, end = date1, freq = 'Y'))if str(x) else None)

In [37]:
data1 = data1[data1.Age < 100]

In [38]:
data.to_excel('./CurrentCustomers.xlsx', index=False)
data1.to_excel('./TargetNewCustomers.xlsx',index=False)